Read the pickle of the cs course enrollments dataframe

In [222]:
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import plotly
import pandas as pd
from pandas import DataFrame, Series

In [223]:
csCoursesDF = pd.read_pickle('csCoursesDF.pkl')

In [224]:
csCoursesDF

    courseid  year term  instructor  enrollment  max_enrollment
0      CS110  2010    F    Anderson          26              30
1      CS110  2010    F    Hildreth          28              30
2      CS111  2010    F       Shaer          11              25
3      CS111  2010    F      Tjaden          20              25
4      CS114  2010    F     Metaxas          30              30
5      CS230  2010    F      Tjaden          18              26
6      CS232  2010    F  Mustafaraj          11              25
7      CS235  2010    F      Turbak           6              30
8      CS240  2010    F       Shull          16              28
9      CS315  2010    F     Metaxas           9              25
10     CS320  2010    F       Shaer          12              14
11     CS342  2010    F      Turbak          13              25
12     CS110  2011    F    Anderson          28              30
13     CS110  2011    S    Anderson          29              30
14     CS110  2011    F       Moore          27              30
15     CS110  2011    S       Shaer          28              30
16     CS111  2011    F       Shaer          24              25
17     CS111  2011    S      Turbak          13              23
18     CS111  2011    S      Turbak          20              22
19     CS111  2011    F  Mustafaraj          23              25
20     CS112  2011    S    Hildreth          13              26
21     CS117  2011    F      Turbak          19              24
22     CS215  2011    S     Metaxas          10              14
23     CS220  2011    S       Shaer          11              15
24     CS230  2011    F      Tjaden          18              26
25     CS230  2011    S     Metaxas          25              26
26     CS231  2011    S      Tjaden          23              25
27     CS235  2011    F      Turbak          19              30
28     CS240  2011    F       Shull          25              28
29     CS242  2011    F       Shull          10              25
..       ...   ...  ...         ...         ...             ...
143    CS240  2015    F        Wood          25              24
144    CS242  2015    F       Shull          18              25
145    CS249  2015    S  Mustafaraj          17              18
146    CS251  2015    F        Wood          21              25
147    CS251  2015    S        Wood          28              25
148    CS304  2015    S    Anderson          27              25
149    CS307  2015    F    Anderson          15              25
150    CS313  2015    F      Tjaden          16              25
151    CS315  2015    S     Metaxas          16              25
152    CS320  2015    F       Shaer          18              18
153    CS322  2015    F     Chapman           6              10
154    CS349  2015    S         Mir          11              15
155    CS110  2016    S    Anderson          28              30
156    CS110  2016    S      Bassem          29              30
157    CS111  2016    S         Lee          24              25
158    CS111  2016    S       Shaer          23              25
159    CS111  2016    S  Mustafaraj          25              25
160    CS220  2016    S       Shaer          18              18
161    CS230  2016    S     Metaxas          25              25
162    CS230  2016    S     Metaxas          27              25
163    CS230  2016    S      Bassem          22              25
164    CS231  2016    S      Bassem          22              25
165    CS235  2016    S      Tjaden          26              25
166    CS240  2016    S        Wood          24              24
167    CS249  2016    S  Mustafaraj          20              18
168    CS251  2016    S      Turbak          25              25
169    CS301  2016    S        Wood          16              18
170    CS304  2016    S    Anderson          24              25
171    CS342  2016    S      Turbak          20              25
172    CS349  2016    S       Reddy          25              18

[173 rows x 6 columns]

Replace all Spring terms with 1 and all Fall terms with 9 to amke sorting sections chronoligically easier

In [225]:
csCoursesDF = csCoursesDF.replace(['S','F'],[-0.1,0.1])

In [226]:
csCoursesDF

    courseid  year  term  instructor  enrollment  max_enrollment
0      CS110  2010   0.1    Anderson          26              30
1      CS110  2010   0.1    Hildreth          28              30
2      CS111  2010   0.1       Shaer          11              25
3      CS111  2010   0.1      Tjaden          20              25
4      CS114  2010   0.1     Metaxas          30              30
5      CS230  2010   0.1      Tjaden          18              26
6      CS232  2010   0.1  Mustafaraj          11              25
7      CS235  2010   0.1      Turbak           6              30
8      CS240  2010   0.1       Shull          16              28
9      CS315  2010   0.1     Metaxas           9              25
10     CS320  2010   0.1       Shaer          12              14
11     CS342  2010   0.1      Turbak          13              25
12     CS110  2011   0.1    Anderson          28              30
13     CS110  2011  -0.1    Anderson          29              30
14     CS110  2011   0.1       Moore          27              30
15     CS110  2011  -0.1       Shaer          28              30
16     CS111  2011   0.1       Shaer          24              25
17     CS111  2011  -0.1      Turbak          13              23
18     CS111  2011  -0.1      Turbak          20              22
19     CS111  2011   0.1  Mustafaraj          23              25
20     CS112  2011  -0.1    Hildreth          13              26
21     CS117  2011   0.1      Turbak          19              24
22     CS215  2011  -0.1     Metaxas          10              14
23     CS220  2011  -0.1       Shaer          11              15
24     CS230  2011   0.1      Tjaden          18              26
25     CS230  2011  -0.1     Metaxas          25              26
26     CS231  2011  -0.1      Tjaden          23              25
27     CS235  2011   0.1      Turbak          19              30
28     CS240  2011   0.1       Shull          25              28
29     CS242  2011   0.1       Shull          10              25
..       ...   ...   ...         ...         ...             ...
143    CS240  2015   0.1        Wood          25              24
144    CS242  2015   0.1       Shull          18              25
145    CS249  2015  -0.1  Mustafaraj          17              18
146    CS251  2015   0.1        Wood          21              25
147    CS251  2015  -0.1        Wood          28              25
148    CS304  2015  -0.1    Anderson          27              25
149    CS307  2015   0.1    Anderson          15              25
150    CS313  2015   0.1      Tjaden          16              25
151    CS315  2015  -0.1     Metaxas          16              25
152    CS320  2015   0.1       Shaer          18              18
153    CS322  2015   0.1     Chapman           6              10
154    CS349  2015  -0.1         Mir          11              15
155    CS110  2016  -0.1    Anderson          28              30
156    CS110  2016  -0.1      Bassem          29              30
157    CS111  2016  -0.1         Lee          24              25
158    CS111  2016  -0.1       Shaer          23              25
159    CS111  2016  -0.1  Mustafaraj          25              25
160    CS220  2016  -0.1       Shaer          18              18
161    CS230  2016  -0.1     Metaxas          25              25
162    CS230  2016  -0.1     Metaxas          27              25
163    CS230  2016  -0.1      Bassem          22              25
164    CS231  2016  -0.1      Bassem          22              25
165    CS235  2016  -0.1      Tjaden          26              25
166    CS240  2016  -0.1        Wood          24              24
167    CS249  2016  -0.1  Mustafaraj          20              18
168    CS251  2016  -0.1      Turbak          25              25
169    CS301  2016  -0.1        Wood          16              18
170    CS304  2016  -0.1    Anderson          24              25
171    CS342  2016  -0.1      Turbak          20              25
172    CS349  2016  -0.1       Reddy          25              18

[173 rows x 6 columns]

In [227]:
csCoursesDF.head()

  courseid  year  term instructor  enrollment  max_enrollment
0    CS110  2010   0.1   Anderson          26              30
1    CS110  2010   0.1   Hildreth          28              30
2    CS111  2010   0.1      Shaer          11              25
3    CS111  2010   0.1     Tjaden          20              25
4    CS114  2010   0.1    Metaxas          30              30

### First explore the data to see what relationship there is between CS 111 enrollments (first class that counts towards CS major) and CS 230 enrollments (CS major gateway class)

Create a dataframe of CS 111 courses and CS 230 courses

In [228]:
cs111DF = csCoursesDF[csCoursesDF.courseid == 'CS111']

In [229]:
cs111DF

    courseid  year  term  instructor  enrollment  max_enrollment
2      CS111  2010   0.1       Shaer          11              25
3      CS111  2010   0.1      Tjaden          20              25
16     CS111  2011   0.1       Shaer          24              25
17     CS111  2011  -0.1      Turbak          13              23
18     CS111  2011  -0.1      Turbak          20              22
19     CS111  2011   0.1  Mustafaraj          23              25
41     CS111  2012   0.1      Tjaden          31              25
42     CS111  2012   0.1       Shull          22              25
43     CS111  2012  -0.1      Turbak          24              23
44     CS111  2012  -0.1      Turbak          23              22
65     CS111  2013   0.1       Jones          23              25
66     CS111  2013  -0.1      Tjaden          33              30
67     CS111  2013   0.1       Shull          18              25
68     CS111  2013  -0.1      Turbak          24              30
69     CS111  2013   0.1  Mustafaraj          25              25
90     CS111  2014  -0.1         Lee          24              25
91     CS111  2014  -0.1       Jones          21              25
92     CS111  2014  -0.1       Jones          24              25
93     CS111  2014   0.1       Jones          18              24
94     CS111  2014   0.1      Tjaden          24              24
95     CS111  2014   0.1      Tjaden          21              24
123    CS111  2015  -0.1      Turbak          28              25
124    CS111  2015   0.1  Mustafaraj          31              28
125    CS111  2015   0.1      Turbak          30              30
126    CS111  2015  -0.1       Jones          26              25
127    CS111  2015  -0.1       Jones          18              25
128    CS111  2015   0.1       Reddy          27              27
157    CS111  2016  -0.1         Lee          24              25
158    CS111  2016  -0.1       Shaer          23              25
159    CS111  2016  -0.1  Mustafaraj          25              25

In [230]:
cs111DF = cs111DF.sort_values(by = ['year', 'term'])

In [231]:
cs111DF

    courseid  year  term  instructor  enrollment  max_enrollment
2      CS111  2010   0.1       Shaer          11              25
3      CS111  2010   0.1      Tjaden          20              25
17     CS111  2011  -0.1      Turbak          13              23
18     CS111  2011  -0.1      Turbak          20              22
16     CS111  2011   0.1       Shaer          24              25
19     CS111  2011   0.1  Mustafaraj          23              25
43     CS111  2012  -0.1      Turbak          24              23
44     CS111  2012  -0.1      Turbak          23              22
41     CS111  2012   0.1      Tjaden          31              25
42     CS111  2012   0.1       Shull          22              25
66     CS111  2013  -0.1      Tjaden          33              30
68     CS111  2013  -0.1      Turbak          24              30
65     CS111  2013   0.1       Jones          23              25
67     CS111  2013   0.1       Shull          18              25
69     CS111  2013   0.1  Mustafaraj          25              25
90     CS111  2014  -0.1         Lee          24              25
91     CS111  2014  -0.1       Jones          21              25
92     CS111  2014  -0.1       Jones          24              25
93     CS111  2014   0.1       Jones          18              24
94     CS111  2014   0.1      Tjaden          24              24
95     CS111  2014   0.1      Tjaden          21              24
123    CS111  2015  -0.1      Turbak          28              25
126    CS111  2015  -0.1       Jones          26              25
127    CS111  2015  -0.1       Jones          18              25
124    CS111  2015   0.1  Mustafaraj          31              28
125    CS111  2015   0.1      Turbak          30              30
128    CS111  2015   0.1       Reddy          27              27
157    CS111  2016  -0.1         Lee          24              25
158    CS111  2016  -0.1       Shaer          23              25
159    CS111  2016  -0.1  Mustafaraj          25              25

In [232]:
len(cs111DF)

30

In [233]:
cs111DF.describe()

              year          term  enrollment  max_enrollment
count    30.000000  3.000000e+01   30.000000       30.000000
mean   2013.300000  9.251859e-19   23.266667       25.233333
std       1.784029  1.017095e-01    4.863186        1.994533
min    2010.000000 -1.000000e-01   11.000000       22.000000
25%    2012.000000 -1.000000e-01   21.000000       25.000000
50%    2013.500000  0.000000e+00   24.000000       25.000000
75%    2015.000000  1.000000e-01   25.000000       25.000000
max    2016.000000  1.000000e-01   33.000000       30.000000

In [234]:
from plotly.offline import plot
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
init_notebook_mode() # run to allow plots to show up in Notebook
import plotly.graph_objs as go
from plotly import tools

In [337]:
def getTerm(df):
    b = df.term > 0
    blist = ["Fall" if x > 0 else "Spring" for x in b]
    return blist

In [386]:
cs111Data = go.Scatter(
    x = cs111DF.year+cs111DF.term,
    y = cs111DF.enrollment,
    mode = 'markers+lines',
    marker=dict(
        size='16',
        color = 'rgb(67,129,179)',
#         colorscale='Blues',
#         showscale=False
        line = dict(
            width = 1,
            color = 'rgb(0, 0, 0)'
        )
    ),
    text = "Prof. " + cs111DF.instructor + "<br>" + getTerm(cs111DF),
    textposition='left',
    line=dict(
        shape='vhv' # or linear
    )
)
layout = go.Layout(          
    title = "CS 111 course enrollments, 2010-2016",  
    xaxis = dict(                 
        title="Year"        
       ),
    yaxis = dict(                 
        title="Course enrollment"        
       )
    )
    
fig = go.Figure(data=[cs111Data], layout=layout)

iplot(fig)

In [523]:
yearList = cs111DF.year.tolist()
yearListStr = [str(yr) for yr in yearList]
print yearListStr

['2010', '2010', '2011', '2011', '2011', '2011', '2012', '2012', '2012', '2012', '2013', '2013', '2013', '2013', '2013', '2014', '2014', '2014', '2014', '2014', '2014', '2015', '2015', '2015', '2015', '2015', '2015', '2016', '2016', '2016']

In [538]:
cs111Data = go.Bar(
    x = cs111DF.year.sum(),
    y = cs111DF.enrollment,
    text = "Prof. " + cs111DF.instructor + "<br>" + getTerm(cs111DF)+ " " + yearListStr,
    name = 'enrollment',
    marker=dict(
        color='rgb(121,186,233)'
    )
) #(15,117,188)
cs111Max = go.Scatter(
        x = cs111DF.year.sum(),
        y=cs111DF.max_enrollment,
        name = "max enrollment",
        marker=dict(
        color='rgb(15,117,188)'
    )
        ) 
layout = go.Layout(          
    title = "CS 111 course enrollments, 2010-2016",  
    xaxis = dict( 
        title="Year",
        ticktext = yearListStr,
        tickvals = range(len(yearListStr)),
        tickangle=-45
       ),
    yaxis = dict(                 
        title="Course enrollment"        
       )
#     bargap=0.1
    )
    
fig = go.Figure(data=[cs111Data,cs111Max], layout=layout)

iplot(fig)

In [387]:
cs111SpringDF = cs111DF[cs111DF.term == -0.1]

In [456]:
cs111Sp = cs111SpringDF.year.tolist()
cs111SpringStr = [str(yr) for yr in cs111Sp]

In [457]:
cs111SpringDF

    courseid  year  term  instructor  enrollment  max_enrollment
17     CS111  2011  -0.1      Turbak          13              23
18     CS111  2011  -0.1      Turbak          20              22
43     CS111  2012  -0.1      Turbak          24              23
44     CS111  2012  -0.1      Turbak          23              22
66     CS111  2013  -0.1      Tjaden          33              30
68     CS111  2013  -0.1      Turbak          24              30
90     CS111  2014  -0.1         Lee          24              25
91     CS111  2014  -0.1       Jones          21              25
92     CS111  2014  -0.1       Jones          24              25
123    CS111  2015  -0.1      Turbak          28              25
126    CS111  2015  -0.1       Jones          26              25
127    CS111  2015  -0.1       Jones          18              25
157    CS111  2016  -0.1         Lee          24              25
158    CS111  2016  -0.1       Shaer          23              25
159    CS111  2016  -0.1  Mustafaraj          25              25

In [458]:
cs111FallDF = cs111DF[cs111DF.term == 0.1]

In [462]:
cs111Fa = cs111FallDF.year.tolist()
cs111FallStr = [str(yr) for yr in cs111Fa]

In [463]:
cs111FallDF

    courseid  year  term  instructor  enrollment  max_enrollment
2      CS111  2010   0.1       Shaer          11              25
3      CS111  2010   0.1      Tjaden          20              25
16     CS111  2011   0.1       Shaer          24              25
19     CS111  2011   0.1  Mustafaraj          23              25
41     CS111  2012   0.1      Tjaden          31              25
42     CS111  2012   0.1       Shull          22              25
65     CS111  2013   0.1       Jones          23              25
67     CS111  2013   0.1       Shull          18              25
69     CS111  2013   0.1  Mustafaraj          25              25
93     CS111  2014   0.1       Jones          18              24
94     CS111  2014   0.1      Tjaden          24              24
95     CS111  2014   0.1      Tjaden          21              24
124    CS111  2015   0.1  Mustafaraj          31              28
125    CS111  2015   0.1      Turbak          30              30
128    CS111  2015   0.1       Reddy          27              27

In [464]:
# get a list of the years in Spring and Fall 
yearList = cs111FallDF.year.tolist() + cs111SpringDF.year.tolist()
yearListStr = [str(yr) for yr in yearList]
print len(yearListStr)

30

In [487]:
def checkFirstLastSemesters(springDF, fallDF):
    boolean = springDF.term.tail(1) == fallDF.term.tail(1)
    return boolean

In [494]:
cs111SpringDF[1:]

    courseid  year  term  instructor  enrollment  max_enrollment
18     CS111  2011  -0.1      Turbak          20              22
43     CS111  2012  -0.1      Turbak          24              23
44     CS111  2012  -0.1      Turbak          23              22
66     CS111  2013  -0.1      Tjaden          33              30
68     CS111  2013  -0.1      Turbak          24              30
90     CS111  2014  -0.1         Lee          24              25
91     CS111  2014  -0.1       Jones          21              25
92     CS111  2014  -0.1       Jones          24              25
123    CS111  2015  -0.1      Turbak          28              25
126    CS111  2015  -0.1       Jones          26              25
127    CS111  2015  -0.1       Jones          18              25
157    CS111  2016  -0.1         Lee          24              25
158    CS111  2016  -0.1       Shaer          23              25
159    CS111  2016  -0.1  Mustafaraj          25              25

In [550]:
cs111DataSpring = go.Bar(
    x = cs111SpringDF.year,
    y = cs111SpringDF.enrollment,
    text = "Prof. " + cs111SpringDF.instructor,
    name = 'Spring Enrollment',
    marker=dict(
        color='rgb(15,117,188)'
    )
)

cs111DataFall = go.Bar(
    x = cs111FallDF.year,
    y = cs111FallDF.enrollment,
    text = "Prof. " + cs111FallDF.instructor,
    name = 'Fall Enrollment',
    marker=dict(
        color='rgb(121,186,233)'
    )
)

layout = go.Layout(          
    title = "CS 111 course enrollments, 2010-2016", 
    barmode = 'stack',
    xaxis = dict( 
        title="Year"
       ),
    yaxis = dict(                 
        title="Course enrollment"        
       ),
    bargap=0.1,
)
    
fig = go.Figure(data=[cs111DataFall,cs111DataSpring], layout=layout)

iplot(fig)

In [237]:
cs230DF = csCoursesDF[csCoursesDF.courseid == 'CS230']

In [238]:
cs230DF

    courseid  year  term instructor  enrollment  max_enrollment
5      CS230  2010   0.1     Tjaden          18              26
24     CS230  2011   0.1     Tjaden          18              26
25     CS230  2011  -0.1    Metaxas          25              26
49     CS230  2012   0.1     Tjaden          36              39
50     CS230  2012  -0.1     Tjaden          24              26
73     CS230  2013  -0.1    Metaxas          33              40
74     CS230  2013   0.1    Metaxas          22              22
75     CS230  2013   0.1      Shaer          19              23
101    CS230  2014   0.1      Shaer          28              24
102    CS230  2014  -0.1    Metaxas          20              23
103    CS230  2014   0.1       Wood          14              24
104    CS230  2014  -0.1      Shaer          24              22
133    CS230  2015   0.1      Shaer          21              25
134    CS230  2015  -0.1     Tjaden          24              25
135    CS230  2015   0.1     Bassem          27              25
136    CS230  2015  -0.1    Metaxas          10              25
161    CS230  2016  -0.1    Metaxas          25              25
162    CS230  2016  -0.1    Metaxas          27              25
163    CS230  2016  -0.1     Bassem          22              25

In [239]:
cs230DF.describe()

              year       term  enrollment  max_enrollment
count    19.000000  19.000000   19.000000       19.000000
mean   2013.631579  -0.005263   23.000000       26.105263
std       1.801559   0.102598    6.091889        4.886429
min    2010.000000  -0.100000   10.000000       22.000000
25%    2012.500000  -0.100000   19.500000       24.000000
50%    2014.000000  -0.100000   24.000000       25.000000
75%    2015.000000   0.100000   26.000000       26.000000
max    2016.000000   0.100000   36.000000       40.000000

In [240]:
cs249DF = csCoursesDF[csCoursesDF.courseid == 'CS249']

In [241]:
cs249DF

    courseid  year  term  instructor  enrollment  max_enrollment
30     CS249  2011  -0.1  Mustafaraj           6              15
79     CS249  2013  -0.1  Mustafaraj          15              20
110    CS249  2014  -0.1       Jones           6              20
145    CS249  2015  -0.1  Mustafaraj          17              18
167    CS249  2016  -0.1  Mustafaraj          20              18

In [242]:
cs230Data = go.Scatter(
        x=str(cs230DF.year)+ " " + str(cs230DF.term),
        y=cs230DF.enrollment,
        mode = 'lines'
#         fill ='tozeroy'
        ) 
cs230Max = go.Scatter(
        x=str(cs230DF.year)+ " " + str(cs230DF.term),
        y=cs230DF.max_enrollment,
        mode = 'lines'
#         fill ='tozeroy'
        ) 
layout = go.Layout(          
    title = "timeline of CS 230 course enrollments, 2010-2016",  
    xaxis = dict(                 
        title="date"        
       )
    )
    
fig = go.Figure(data=[cs230Data,cs230Max], layout=layout)
iplot(fig)